<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample use API</title>
</head>
<body>
  <pre id="body"></pre>
    <script>
        var YOUR_CLIENT_ID = '951318234585-046ps88knlskvrak17c1gcfs9lm8aqjv.apps.googleusercontent.com';
        var YOUR_REDIRECT_URI = 'http://localhost:6969';
        var fragmentString = location.hash.substring(1);
      
        // Parse query string to see if page request is coming from OAuth 2.0 server.
        var params = {};
        var regex = /([^&=]+)=([^&]*)/g, m;
        while (m = regex.exec(fragmentString)) {
          params[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
        }
        if (Object.keys(params).length > 0) {
          localStorage.setItem('oauth2-test-params', JSON.stringify(params) );
          if (params['state'] && params['state'] == 'try_sample_request') {
            trySampleRequest();
            document.getElementById("body").textContent = JSON.stringify(params['code'], undefined, 2);
          }
        }
      
        // If there's an access token, try an API request.
        // Otherwise, start OAuth 2.0 flow.
        function trySampleRequest() {
          var params = JSON.parse(localStorage.getItem('oauth2-test-params'));
          
          if (params && params['access_token']) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET',
                'https://www.googleapis.com/drive/v3/about?fields=user&' +
                'access_token=' + params['access_token']);
            xhr.onreadystatechange = function (e) {
              if (xhr.readyState === 4 && xhr.status === 200) {
                console.log(xhr.response);
              } else if (xhr.readyState === 4 && xhr.status === 401) {
                // Token invalid, so prompt for user permission.
                oauth2SignIn();
              }
            };
            xhr.send(null);
          } else {
            oauth2SignIn();
          }
        }
      
        /*
         * Create form to request access token from Google's OAuth 2.0 server.
         */
        function oauth2SignIn() {
          // Google's OAuth 2.0 endpoint for requesting an access token
          var oauth2Endpoint = 'https://accounts.google.com/o/oauth2/v2/auth';
      
          // Create element to open OAuth 2.0 endpoint in new window.
          var form = document.createElement('form');
          form.setAttribute('method', 'GET'); // Send as a GET request.
          form.setAttribute('action', oauth2Endpoint);
         // https://accounts.google.com/o/oauth2/v2/auth?
        // client_id=your_client_id&
        // response_type=code&
        // state=state_parameter_passthrough_value&
        // scope=https%3A//www.googleapis.com/auth/drive.file&
        // redirect_uri=https%3A//oauth2.example.com/code&
        // prompt=consent&
        // include_granted_scopes=true
          // Parameters to pass to OAuth 2.0 endpoint.
          var params = {'client_id': YOUR_CLIENT_ID,
                        'redirect_uri': YOUR_REDIRECT_URI,
                        'response_type':'code',
                        'state': 'try_sample_request',
                        'scope': 'https://www.googleapis.com/auth/drive.metadata.readonly',
                        'include_granted_scopes': 'true',
                        'prompt':'consent'
                      };
      
          // Add form parameters as hidden input values.
          for (var p in params) {
            var input = document.createElement('input');
            input.setAttribute('type', 'hidden');
            input.setAttribute('name', p);
            input.setAttribute('value', params[p]);
            form.appendChild(input);
          }
      
          // Add form to page and submit it to open the OAuth 2.0 endpoint.
          document.body.appendChild(form);
          form.submit();
        }
      </script>
      
      <button onclick="trySampleRequest();">Try sample request</button>
</body>
</html>